body{
  text-align: center;
  font-size: 1em;
  margin-top: 10%;
}
#inputBox{
  width: 230px;
  height: 22px;
  border: 2px solid grey;
}
button{
  height: 30px;
  color: white;
  background: red;
}
.dishOutput{
  font-size: 2em;
  font-weight: normal;
  color: green;
}
